<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-4">
    <div class="card" style="width: 50rem;">            
        <h2 class="card-header">Register Form</h2>    
        <div class="card-body">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="name-reg" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-reg" name="name">                        
                </div>
                <div class="mb-3">
                    <label for="email-reg" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-reg" name="email">                        
                </div>
                <div class="mb-3">
                    <label for="password-reg" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-reg" name="password">
                </div>
                <div class="mb-3">
                    <label for="password-conf-reg" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password-conf-reg" name="password-confirm">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
            </form>
        </div>
    </div>
</div>


</body>
</html>